.breadcrumb {
  color: var(--color-black);
  font-size: 0.85rem;
  font-weight: 500;
  padding-bottom: 0.5rem;

  svg {
    padding-right: 0.3rem;
  }
}

.breadcrumb:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .breadcrumb {
    font-size: 0.75rem;
  }
}
