:root {
  --color-white: #fff;
  --color-black: #000;
  --color-brand: #deb76a;
  --color-alternative-brand: #a78c54;
  --web-color-background: #2e3842;
  --web-color-alternative-background: #171635;
  --link-color: #ff0;

  --color-fb-button: #e4e6eb;
  --color-fb-white: #f0f2f5;
  --color-fb-grey-light: #dddfe2;
  --color-fb-grey: #616770;
  --color-fb-grey-dark: #65676b;
}
