:root {
  --color-white: #fff;
  --color-black: #000;
  --color-brand: #deb76a;
  --color-alternative-brand: #a78c54;
  --web-color: #000;
  --web-color-background: #2e3842;
  --web-color-alternative-background: #171635;
  --link-color: #ff0;
}
