.backToTop {
  p {
    position: fixed;
    right: 5%;
    bottom: 4.5rem;
    text-align: center;
    transition: visibility 0.2s ease-out;
    visibility: hidden;
    width: 2rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    cursor: pointer;
    color: var(--color-brand);
  }

  .show {
    visibility: visible;
  }
}
